SECRET_KEY=cambia-esta-clave-genera-una-nueva-con-python-c-import-secrets-print-secrets-token-hex-32
DATABASE_URI_AUTH=postgresql+psycopg2://usuario:falso@db.proyecto-auth.supabase.co:5432/postgres
DATABASE_URI_TIENDA=postgresql+psycopg2://usuario:falso@db.proyecto-tienda.supabase.co:5432/postgres
SMTP_USER=correo_falso@example.com
SMTP_PASS=clave_falsa_sin_espacios
BASE_SUNAT=https://dniruc.apisperu.com/api/v1
TOKEN_SUNAT=token_falso
FLASK_DEBUG=0
